.book {
  margin: 30px 0;
  &__list {
    display: flex;
    gap: 25px;

    overflow: hidden;
    width: max-content;
    overflow: hidden;
    transform: translateX(0px);
    transition: all 0.6;

    &__card {
      width: 260px;

      & > img {
        width: inherit;
      }
    }
    &__direction {
      position: absolute;
    }

    &__right {
      right: 30px;
      top: 31%;
    }

    &__left {
      left: 30px;
      top: 31%;
    }
  }
}
