.header {
  border-bottom: 1px solid rgb(184, 181, 181);
  position: fixed;
  width: 100%;
  background-color: #fff;
  margin-bottom: 180px;
  z-index: 1000;
  .header__btn {
    display: none;

    @include tablet {
      display: block;
      display: flex;
      justify-content: space-between;
      align-items: center;
    }
    @include mobile {
      display: block;
      display: flex;
      justify-content: space-between;
      align-items: center;
    }
  }
  .header__nomal {
    display: block;
    display: flex;
    justify-content: space-between;
    align-items: center;

    gap: 30px;
    .header_logo {
      width: 35px;
    }

    &__btn {
      display: flex;
      gap: 40px;
    }
    @include tablet {
      display: none;
    }
  }
}
